/[Tt]emp/
/[Ll]ibrary/
/[Bb]uild/
/[Bb]uilds/
/[Oo]bj/
/.vs/
/UnityPackageManager/
/Logs/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

*.DS_Store

.collabignore

# extra ignores
.vscode/
**/ConsolePro/
**/ConsolePro.meta
